<form action="/favourite-list" method="POST">
    <button type="submit" class="bg-teal-400 text-white px-3 py-2 rounded-md hover:bg-teal-500">Add To Favourites</button>    
    <input type="hidden" name="id" value="<%= home._id %>">
</form>