<%- include('../partials/head',{pageTitle:'Booking'}) %>
</head>
<body>
    <%- include('../partials/nav') %>
    <main>
        
        <div class="flex justify-center items-center py-10 my-10 shadow-2xl max-w-sm mx-auto rounded-md flex-col ">
            <h1 class="text-4xl text-red-400 font-bold">My Bookings</h1>
        <h2 class="text-xl text-gray-600 font-semibold pt-4">
            Bookings will be shown here
        </h2>
    </div>
    </main>
</body>
</html>